<div align = "center">
  <h2>Modificar coche</h2>
  <div>
    <label>Marca del coche:
      <input [(ngModel)]="carData.car_trademark" placeholder="Marca del coche"/>
    </label><br>
    <label>Modelo del coche:
      <input [(ngModel)]="carData.car_model" placeholder="Modelo del coche"/>
    </label><br>
    <label>Potencia del coche:
      <input [(ngModel)]="carData.car_potence" placeholder="Potencia del coche"/>
    </label><br>
    <label>Precio del coche:
      <input [(ngModel)]="carData.car_price" placeholder="Precio del coche"/>
    </label><br>
  </div>
  <button class="btn btn-primary active" routerLink = "/cars">Volver</button><button (click)="updateCar()" class="btn btn-success active" routerLink = "/cars">Actualizar coche</button>
</div>